@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,400,800");

.background {
  margin: 0;
  height: 100vh;
  background-color: RGB(255, 242, 241);
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr;
  grid-template-rows: 2fr 3fr 1fr;
  height: 100vh;
}

.main {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 5rem;
  margin-top: 0rem;
}

.image-div {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 8vh;
}

.main-image{
  border-radius: 100px;
  width: 45vw;
  height: auto;
}

.main h1 {
  margin: 0px;
  font-family: "Montserrat", Helvetica, Arial, serif;
  color: rgba(112, 83, 228, 1);
  font-size: 6em;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.main h2 {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  margin-right: -2rem;
  line-height: 1.5;
}

.main Button.cross {
  height: 0vh;
  margin-top: -54vh;
  margin-left: -5vw;
  margin-right: 0vw;
}

.main Button.predict {
  height: 8vh;
  background-color: rgba(112, 83, 228, 1);
  border-radius: 20px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border: none;
  margin-left: 12.5vw;
  margin-right: 12vw;
}

.main Button.predict:hover {
  background-color: rgba(112, 83, 228, 1);
  bottom: 2px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.main Button.predict:focus {
  background-color: rgba(112, 83, 228, 1);
}

.user-image{
  border-radius: 10px;
  height: 30vh;
  width: 30vw;
  margin-left: 4vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.main p{
  margin-bottom:-3vh;
  margin-right:-43vw;
}

.main h3 {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.main h4 {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  /*margin-top: 20vh;*/
  position: absolute;
  bottom: 0;
  right: 40%;
}

.main h5{
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.main span{
  color: rgba(255, 0, 0, 1);
  font-weight: 600;
}