absl-py==0.12.0
appdirs==1.4.4
astunparse==1.6.3
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Cython==0.29.22
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
gast==0.4.0
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.1.5
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==1.1.1
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
Pillow==8.2.0
pipenv==2020.11.15
protobuf==3.15.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.6.1
six==1.15.0
tb-nightly==2.5.0a20210405
tensorboard==2.4.1
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0rc0
termcolor==1.1.0
tf-estimator-nightly==2.5.0.dev2021032501
tf-nightly==2.6.0.dev20210402
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.4.3
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wrapt==1.12.1